{% extends "base.html" %}
{% block content %}
<!-- Posts --->
<a class="marker-link-header" href="{{ url_for('posts') }}">Posts</a>
<ul class="recent-items">
    {% for post in posts %}
        <li>
            <div class="home-post-listing">
                <a class="marker-link-title recent-post-link" href="{{ url_for('post', post_id=post['id']|string) }}">{{ post['title'] }}</a>
                <span class="marker-info timestamp">{{ post['timestamp']}}</span>
                <span class="marker-info pad-left-20"><i class="material-icons clock">schedule</i> {{ post['length_in_min'] }} minute read</span>
                <span class="marker-info recent-post-tags">
                    {{ tag_list(url_for('post', post_id=post['id']), post['tags']) }}
                </span>
            </div>
        </li>
    {% endfor %}
    <li><a class='marker-see-all' href="{{ url_for('posts') }}">+ See All</a></li>
</ul>
<!-- Projects --->
<a class='marker-link-header' href="{{ url_for('projects') }}">Projects</a>
<ul class="recent-items">
    {% for project in projects %}
    <li>
        <div class="recent-project">
            <div class="recent-project-text">
                <a class="recent-project-link" href="{{ url_for('project', project_id=project['id']|string) }}">{{ project['name'] }}</a>
                <div class="recent-project-links">
                    <a class="primary-info-link" href="{{ project['github'] }}">Github</a>
                    <a class="primary-info-link" href="{{ project['docs'] }}">Docs</a>
                </div>
            </div>
            <div class="recent-project-info">
                <span class="marker-info">Updated <span class="marker-info timestamp">{{ project['updated'] }}</span><br>Created <span class="marker-info timestamp">{{ project['created']}}</span></span>
            </div>
            <span class="clear"></span>
            <p class="recent-project-body">{{ project['short_summary'] }}</p>
            <p class="marker-info recent-project-tags">
                    {{ tag_list(url_for('project', project_id=project['id']), project['tags']) }}
            </p>
        </div>
    </li>
    {% endfor %}
    <li><a class='marker-see-all' href="{{ url_for('projects') }}">+ See All</a></li>
</ul>
<!-- Reviews --->
<a class="marker-link-header" href="{{ url_for('reviews') }}">Book, Article, and Course Reviews</a>
{% if reviews %}
<ul class="recent-items">
{% for review in reviews %}
    <li>
        <a class="marker-link-title recent-review-link" href="{{ url_for('review', review_id=review['id']|string) }}">{{ review['name'] }}</a>
        <p class="review-byline">By {{ review['creator'] }} ({{ review['publication_year'] }})</p>
        <p class="recent-review-info">
            <span class="marker-info review-timestamp">Reviewed <span class="timestamp">{{ review['timestamp'] }}</span></span>
            <span class="pad-left-10">{{ star_rating(review['rating']) }}</span>
            <span class="marker-info pad-left-10 no-margin">
                {{ tag_list(url_for('review', review_id=review['id']), review['tags']) }}
            </span>
        </p>
    </li>
{% endfor %}
<li><a class='marker-see-all' href="{{ url_for('reviews') }}">+ See All</a></li>
</ul>
{% else %}
<p class="marker-body">There aren't any reviews yet. Check back soon!</p>
{% endif %}

<!-- About --->
<a class="marker-link-header" href="{{ url_for('about') }}">About</a>
<p class="marker-body">I'm Andrew, a software developer and data scientist from Vancouver, BC. My recent work includes linear
    and geospatial optimization projects as well as predictive modelling and web development.</p>
<p class="marker-body">This website is intended to be a collection of thoughts, notes, and useful links to things I am working on and tools
    and subjects I'm testing and learning. You can find more information about me, as well as a searchable resume, on the About page.
Most of the code for my posts and projects is available via GitHub, with links contained in each. If you need to get in
    touch, you'll find social and contact links in the upper right.</p>
{% endblock %}