{% extends "base.html" %}
{% block content %}

{{ search() }}

{% for post in posts %}
<div class="post-listing">
    <a class="marker-link-title post-listing-title" href="{{ url_for('post', post_id=post['id']|string) }}">{{ post['title'] }}</a>
    <p class="marker-info timestamp post-listing-timestamp">{{ post['timestamp'] }}</p>
    <span class="clear"></span>
    <p class="marker-body post-listing-summary">{{ post['long_summary'] }}</p>
    <p class="marker-info post-listing-tags">
        Tags: {% for tag in post['tags'] %}
                {{ tag }}
                {% if not loop.last %}, {% endif %}
              {% endfor %}
    </p>
</div>
{% endfor %}
{% endblock %}