{% extends "base.html" %}
{% block content %}

{{ search() }}

{% for post in posts %}
<div class="post-listing">
    <a class="marker-link-title post-listing-title" href="{{ url_for('post', post_id=post['id']|string) }}">{{ post['title'] }}</a>
    <p class="marker-info timestamp post-listing-timestamp">{{ post['timestamp'] }}</p>
    <span class="clear"></span>
    <p class="marker-body post-listing-summary">{{ post['long_summary'] }}</p>
    <p class="marker-info post-listing-tags">
        <span class="marker-info"><i class="material-icons clock">schedule</i> {{ post['length_in_min'] }} minute read</span>
        <span class="pad-left-10">{{ tag_list('posts', post['tags']) }}</span>
    </p>
</div>
{% endfor %}
{% endblock %}