{% extends "base.html" %}
{% block content %}
<div class="post-container">
    <img class='lead-image' src="/static/images/{{ post['lead_image'] }}" alt="New Zealand Scenery">
    <h1 class="marker-title">{{ post['title'] }}</h1>
    <span class="marker-info float-left"><i class="material-icons clock">schedule</i> {{ post['length_in_min'] }} minute read</span>
    <span class="marker-info timestamp float-right">{{ post['timestamp']}}</span>
    <span class="clear"></span>
    <span class="marker-info">
        {{ tag_list('post', post['tags']) }}
    </span>
    <span class="clear"></span>
    <div class="marker-body post-body">{{ post['body']|safe }}</div>
</div>
{% endblock %}