{% extends "base.html" %}
{% block content %}
<div class="project-container">
    <img class='lead-image' src="/static/images/{{ project['lead_image'] }}" alt="New Zealand Scenery">
    <h1 class="marker-title small-margin">{{ project['name'] }}</h1>
    <div class="project-info-container">
        <div class="project-links">
            <a class="primary-info-link" href="{{ project['github'] }}">Github</a>
            <a class="primary-info-link" href="{{ project['docs'] }}">Docs</a>
            <p class="marker-info recent-project-tags">
                {{ tag_list('project', project['tags']) }}
            </p>
        </div>
        <div class="project-dates">
            <span class="marker-info">Updated <span class="marker-info timestamp">{{ project['updated'] }}</span>
            <br>
            Created <span class="marker-info timestamp">{{ project['created']}}</span></span>
        </div>
    </div>

    <p class="marker-body project-body">{{ project['body']|safe }}</p>
</div>
{% endblock %}