{% extends "base.html" %}
{% block content %}

{{ search() }}

{% for review in reviews %}
<div class="post-listing">
    <a class="marker-link-title post-listing-title" href="{{ url_for('review', review_id=review['id']|string) }}">{{ review['name'] }}</a>
    <p class="marker-info timestamp post-listing-timestamp">{{ review['timestamp'] }}</p>
    <span class="clear"></span>
    <p class="marker-body post-listing-summary">{{ review['long_summary'] }}</p>
    <p class="marker-info post-listing-tags">
        Tags: {% for tag in review['tags'] %}
                {{ tag }}
                {% if not loop.last %}, {% endif %}
              {% endfor %}
    </p>
</div>
{% endfor %}
{% endblock %}