{% extends "base.html" %}
{% block content %}

{{ search() }}

{% for review in reviews %}
<div class="review-listing">
    <a class="primary-title-link post-listing-title" href="{{ url_for('review', review_id=review['id']|string) }}">{{ review['name'] }}</a>
    <p class="marker-info timestamp post-listing-timestamp">{{ review['timestamp'] }}</p>
    <span class="clear"></span>
    <p class="marker-info no-margin">By {{ review['creator'] }} ({{ review['publication_year'] }})</p>
    <p class="marker-body post-listing-summary small-margin">{{ review['summary'] }}</p>
    <p class="marker-info">
        <a class="review-product-link primary-info-link" href="{{ review['link'] }}">Link</a>
        <span class="review-star-rating pad-left-10">{{ star_rating(review['rating']) }}</span>
        <span class="post-listing-tags pad-left-10">{{ tag_list('reviews', review['tags']) }}</span>
    </p>
</div>
{% endfor %}
{% endblock %}